# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!Data/*
!*.rb
!.gitignore
!README.md
!game.ini

# Images
!Title.rpgmvp
!アイキャッチ1タイトル.rpgmvp
!アイキャッチ2タイトル.rpgmvp
!アイキャッチ3タイトル.rpgmvp
!アイキャッチ4タイトル.rpgmvp
!アイキャッチ5タイトル.rpgmvp
!アイキャッチ6タイトル.rpgmvp
!アイキャッチ7タイトル.rpgmvp
!アイキャッチ8タイトル.rpgmvp
!エロステ0.rpgmvp
!エロステ1.rpgmvp
!エロステ10.rpgmvp
!エロステ11.rpgmvp
!エロステ12.rpgmvp
!エロステ2.rpgmvp
!エロステ3.rpgmvp
!エロステ4.rpgmvp
!エロステ5.rpgmvp
!エロステ6.rpgmvp
!エロステ7.rpgmvp
!エロステ8.rpgmvp
!エロステ9.rpgmvp
!タイトル2.rpgmvp
!チュートリアル1.rpgmvp
!チュートリアル2.rpgmvp
!チュートリアル3.rpgmvp
!チュートリアル4.rpgmvp
!チュートリアル5.rpgmvp
!催眠浸食度1.rpgmvp
!催眠浸食度2.rpgmvp
!催眠落ち2.rpgmvp
!催眠落ち3.rpgmvp
!催眠落ち4.rpgmvp
!催眠落ち5.rpgmvp
!催眠落ち6.rpgmvp
!後編チュートリアル1.rpgmvp
!後編チュートリアル2.rpgmvp
!後編チュートリアル3.rpgmvp
!歓楽街チュートリアル1.rpgmvp
!歓楽街チュートリアル2.rpgmvp
!歓楽街チュートリアル3.rpgmvp
!歓楽街チュートリアル4.rpgmvp
!かんばんやおや.rpgmvp
!カンバンイーブル.rpgmvp
!カンバンウミ家.rpgmvp
!カンバンシフの隠れ家.rpgmvp
!カンバンバニー.rpgmvp
!カンバンバンカ.rpgmvp
!カンバンフタナリ.rpgmvp
!カンバン回想部屋.rpgmvp
!カンバン宿屋.rpgmvp
!カンバン手コキ.rpgmvp
!カンバン教会.rpgmvp
!カンバン族長家.rpgmvp
!カンバン本屋.rpgmvp
!カンバン武器屋.rpgmvp
!カンバン母乳.rpgmvp
!カンバン牢屋.rpgmvp
!カンバン犬.rpgmvp
!カンバン猫.rpgmvp
!カンバン祭壇.rpgmvp
!カンバン調合.rpgmvp
!カンバン豚.rpgmvp
!カンバン足コキ.rpgmvp
!カンバン道具屋.rpgmvp
!カンバン道具屋ポソ.rpgmvp
!カンバン酒場.rpgmvp
!カンバン魔物.rpgmvp