# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!*.ain
!*.fnl
!*.ks
!*.tjs
!*.yaml
!Data/*
!*.rb
!.gitignore
!README.md
!game.ini

# Images
!Title.rpgmvp
!アイキャッチ1タイトル.rpgmvp
!アイキャッチ2タイトル.rpgmvp
!アイキャッチ3タイトル.rpgmvp
!アイキャッチ4タイトル.rpgmvp
!アイキャッチ5タイトル.rpgmvp
!アイキャッチ6タイトル.rpgmvp
!アイキャッチ7タイトル.rpgmvp
!アイキャッチ8タイトル.rpgmvp
!エロステ0.rpgmvp
!エロステ1.rpgmvp
!エロステ10.rpgmvp
!エロステ11.rpgmvp
!エロステ12.rpgmvp
!エロステ2.rpgmvp
!エロステ3.rpgmvp
!エロステ4.rpgmvp
!エロステ5.rpgmvp
!エロステ6.rpgmvp
!エロステ7.rpgmvp
!エロステ8.rpgmvp
!エロステ9.rpgmvp
!タイトル2.rpgmvp
!チュートリアル1.rpgmvp
!チュートリアル2.rpgmvp
!チュートリアル3.rpgmvp
!チュートリアル4.rpgmvp
!チュートリアル5.rpgmvp
!催眠浸食度1.rpgmvp
!催眠浸食度2.rpgmvp
!催眠落ち2.rpgmvp
!催眠落ち3.rpgmvp
!催眠落ち4.rpgmvp
!催眠落ち5.rpgmvp
!催眠落ち6.rpgmvp
!後編チュートリアル1.rpgmvp
!後編チュートリアル2.rpgmvp
!後編チュートリアル3.rpgmvp
!歓楽街チュートリアル1.rpgmvp
!歓楽街チュートリアル2.rpgmvp
!歓楽街チュートリアル3.rpgmvp
!歓楽街チュートリアル4.rpgmvp